.banner {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  text-align: center;
  padding: 25px 0;
}

.banner img {
  width: 65%;
  margin-bottom: 20px;
}

.banner p {
  font-size: 30px;
}

.banner p span {
  color: red;
}
