.container {
  position: relative;
  max-width: 1700px;
  margin: 0 auto;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background-color: var(--transparent);
  z-index: 1;
}

.container-image {
  width: 100%;
  height: 600px;
}

.container-image img {
  width: 100%;
  height: 100%;
}

.main {
  position: absolute;
  width: 100%;
  max-width: 90%;
  top: 25%;
  left: 5%;
  display: flex;
  gap: 20px;
  align-items: center;
  z-index: 2;
}

.content {
  width: 50%;
  padding: 30px;
  color: #fff;
}

.content h1 {
  font-size: 60px;
  margin-bottom: 40px;
}

.content p {
  font-size: 18px;
  line-height: 25px;
}

/* ///////////////////////////////////// */
.images {
  width: 50%;
  display: flex;
  align-items: center;
}

.img {
  width: 220px;
}

.img:nth-child(2) {
  position: relative;
  margin-left: -50px;
  z-index: 1;
}

.img:nth-child(3) {
  margin-left: -70px;
}

.img:nth-child(4) {
  margin-left: -60px;
}

@media only screen and (max-width: 1245px) {
  .content h1 {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .content p {
    font-size: 15px;
    line-height: 22px;
  }
}

@media only screen and (max-width: 1065px) {
  .content h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 887px) {
  .main {
    top: 17%;
  }
}

@media only screen and (max-width: 740px) {
  .main {
    flex-direction: column;
  }

  .content {
    width: 100%;
  }
}
