.container {
    padding: 25px 0 ;
    display: flex ;
    justify-content: space-around;
}

.info {
    display: flex ;
    align-items: center ;
    gap: 5px ;
    cursor: pointer ;
}

.info p {
    color: rgb(51, 51, 51) ;
}

.info p:hover {
    color: rgb(51, 51, 51, .4) ;
    text-decoration: underline;
    text-underline-offset: 10px ;
}

.icon {
    width: 25px ;
    height: 25px ;
    color: black ;
}