.banner {
  position: relative;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  text-align: center;
  padding: 25px 0;
}

.banner:before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  /* background-color: var(--transparent); */
  background-color: rgba(0, 0, 0, 0.2);
}

.banner img {
  width: 65%;
  margin-bottom: 20px;
}

.banner p {
  font-size: 30px;
}

.banner p span {
  color: red;
}

@media only screen and (max-width: 380px) {
  .banner p {
    font-size: 20px;
  }
}
