.banner {
  position: relative;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  text-align: center;
  padding: 25px 0;
}

.banner:before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background-color: var(--transparent);
}

.banner img {
  width: 65%;
  margin-bottom: 20px;
}

.banner p {
  position: relative;
  font-size: 30px;
  color: var(--whitecol);
  z-index: 1;
}

.banner p span {
  font-weight: bold;
  color: rgb(86, 2, 2);
}

@media only screen and (max-width: 380px) {
  .banner p {
    font-size: 20px;
  }
}
