@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --maincol: #f3f3f3;
  --whitecol: #fff;
  --transparent: rgba(0, 0, 0, 0.8);
  --boxshadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sour Gummy", sans-serif;
  overflow-x: hidden;
}
