:root {
  --whitecol: #fff;
  --redcolor: red;
  --transparent: rgba(0, 0, 0, 0.8);
  --boxshadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  --hover: rgba(255, 255, 255, 0.5);
  --textcolor: #000;
}

@font-face {
  font-family: "shantel";
  src: url("./fonts/shantel/static/ShantellSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "shantel", serif;
  overflow-x: hidden;
}
