:root {
  --maincol: #f3f3f3;
  --whitecol: #fff;
  --transparent: rgba(0, 0, 0, 0.8);
  --boxshadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: "shantel";
  src: url("./fonts/shantel/static/ShantellSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "shantel", serif;
  overflow-x: hidden;
}
